.addNewTask {
    width: 900px;
    margin: 20px auto;
    border: 0px solid red;
}
.tableContainer {
    width: 350px;
    border: 0px solid blue;
}
td {
    width: 100px;
    height: 80px;
    text-align: center;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: lightcoral;
    padding: 5px;
}
.addBtn {
    width: 355px;
    height: 30px;
}
.icon {
    width: 90px;
    height: 60px;
    color: white;
    border-radius: 50%;
    background-color: gray;

    padding-top: 30px;
}
.titleInp {
    width: 350px;
    height: 20px;
    margin-bottom: 10px;
}
.iconInpu {
    width: 350px;
    height: 20px;
    margin-bottom: 10px;
}
.mobT {
    text-align: start;
    margin-left: 70px;
}
