* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.addNewTask {
    width: 900px;
    margin: 20px auto;
    border: 0px solid red;
}
.mainContainer {
    flex-direction: row;
    justify-content: space-between;
}
.container {
    display: flex;
    width: 33%;
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid white;
    /* border-collapse: collapse; */
    background-color: lightcoral;
    padding: 2px;
    margin: 5px;
}
.addBtn {
    width: 355px;
    height: 30px;
}
.icon {
    width: 80px;
    height: 60px;
    color: white;
    border-radius: 50%;
    background-color: gray;
    padding: 10px;
}
.titleInp {
    width: 350px;
    height: 20px;
    margin-bottom: 10px;
}
.iconInpu {
    width: 350px;
    height: 20px;
    margin-bottom: 10px;
}
.mobT {
    text-align: start;
    margin-left: 70px;
}
